.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  margin: 0;
}

.table {
  margin-top: 20px;
}

.table td button {
  margin-right: 5px;
}



